.App {
    width: 100%;
    height: 100%;
    min-height: 101vh;
    background-color: #0d1117;
    color: #c9d1d9;
    font-size: 18px;
    line-height: 30px;
}

.not-found {
    padding: 2%;
    font-size: 30px;
}

.post-container {
    padding: 5% 20%;
}


.post {
    padding: 4% 4% 1%;
    background-color: #161b22;
}

.post em {
    font-family: 'Consolas';
    background-color: #30363d;
    border-radius: 2px;
    font-style: normal;
    padding: 0px 2px;
}

tr:nth-child(even) {
    background: #1d242d;
    padding: 2px;
}

tr:nth-child(odd) {
    background: #0d1117;
    padding: 2px;
}

a {
    color: #58a6ff;
}

a:visited {
    text-decoration: none;
    color: #58a6ff;
}

.chat-gpt{
    padding: 3.3%;
    border-radius: 10px;
    border: 1px solid #30363d;
    background-color: #0c0f13;
    font-size: 16px;
}

.home-link {
    cursor: pointer;
    width: fit-content;
}

.slim {
    width: fit-content;
}

.post-card-title {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap-reverse;
    color: #ecdb8c;
}

/* .post-card {
    
} */

.link:hover {
    color: #58a6ff;
    cursor: pointer;
}

.header-icons {
    width: 180px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.icon {
    width: 35px;
    height: 35px;
}

.redirect {
    cursor: pointer;
    height: 35px;
}

.header {
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.home {
    font-size: 30px;
    padding: 5% 20%;
    line-height: normal;
}

.home p {
    font-size: 14px;
}

.code-block {
    font-size: 16px;
    line-height: normal;
    padding: 1% 3.3%;
    background-color: #0d1117;
    overflow-x: auto;
}

.post-footer {
    font-size: 12px;
    padding: 0px 10%;
    font-style: italic;
    background-color: #0d1117;
    overflow: hidden;
}



@media only screen and (max-width: 1024px) {
    .App {
        font-size: 17px;
    }
    .post-container {
        padding: 2%;
    }
    .table {
        margin: 0 auto;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}


@media only screen and (min-width: 1368px) {
    .table::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    .post-container {
        min-width: 768px;
    }
}

@media only screen and (min-width: 768px) {
    .table {
        align-items: center;
    }
    .not-found {
        padding: 5% 20%;
    }

    .post {
        border-radius: 10px;
        border: 1px solid #30363d;
    }

    .header {
        height: 75px;
        justify-content: flex-start;
        padding: 0 20%;
    }
}

@media only screen and (max-width: 768px) {
    .App {
        font-size: 16px;
    }

    .post-container {
        padding: 0;
    }

    .table {
        margin: 0 auto;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}